* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Futura PT", sans-serif;
	color: rgb(96 96 96);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	background: rgb(254 238 212);
	&.hidden {
		overflow: hidden;
	}
}

::-webkit-scrollbar {
	display: none;
}

svg {
	width: 24px;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	path {
		transition-duration: 0.3s;
		width: 100%;
		height: 100%;
	}
}

.container {
	width: calc(100% - 40px);
	margin: 0 auto;
}

header {
	background: linear-gradient(180deg, rgb(31 102 158), rgb(6 158 206));
	height: 63px;
	position: sticky;
	top: 0;
	z-index: 9;

	.container {
		height: 100%;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		right: 0;
		bottom: -10px;
		height: 10px;
		background: linear-gradient(
			180deg,
			rgb(73 199 238) 0%,
			rgb(73 199 238) 33%,
			rgb(252 154 0) 33%,
			rgb(252 154 0) 66%,
			rgb(255 79 79) 66%,
			rgb(255 79 79) 100%
		);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 40px;
	padding-left: 10px;
}

.burger {
	display: none;
}

.header__logo {
	width: 167px;
	aspect-ratio: 167/44;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.header__icon {
	width: 24px;
	height: 24px;
	svg {
		fill: rgb(159 212 231);
	}
}

.header__right {
	display: flex;
	gap: 8px;
}

.header__search {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 48px;
	width: 300px;
	padding: 0 12px;
	border: double 2px transparent;
	background: linear-gradient(#1474a5, #1474a5),
		linear-gradient(360deg, #49c7ee 0%, #19527f 100%);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	border-radius: 24px;
	color: rgb(151 231 255);
	transition: 0.3s ease;
	line-height: 1.4;
	span {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 450;
		opacity: 0.6;
		transition: 0.3s ease;
	}
	svg-icon-sprite {
		width: 16px;
		height: 16px;
		.icon {
			fill: rgb(151 231 255);
		}
	}
	&:hover {
		span {
			opacity: 1;
		}
	}
}

.header__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	padding: 0 24px;
	text-align: center;
	font-weight: 700;
	line-height: 1;
	color: rgb(255 255 255);
	text-transform: uppercase;
	border-radius: 24px;
	font-size: 22px;
	font-weight: 800;
	line-height: 1.2;
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
	background-position: right 0, center 0, left 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: contain, calc(100% - calc(0.6 * 48px) * 2 + 1px) 100%,
		contain, 0, 0, 0, 0, 0, 0;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	font-style: italic;
	background-image: url("/assets/images/btn-header-right.webp"),
		url("/assets/images/btn-header-center.webp"),
		url("/assets/images/btn-header-left.webp");
}

.sidebar {
	position: fixed;
	left: 0;
	top: 73px;
	height: calc(100vh - 73px);
	width: 232px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	z-index: 9;
	background: linear-gradient(180deg, #f9eedf 0%, #fcecd2 100%);
	border-right: 2px solid rgb(242 214 173);
	color: rgb(96 96 96);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px;

	ul {
		list-style: none;
	}
	.header__search {
		display: none;
	}
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	padding: 8px 0;
	position: relative;
	align-items: center;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		top: 0;
		background-image: linear-gradient(0deg, rgb(240 220 190), rgb(240 220 190)),
			linear-gradient(0deg, rgb(255 245 231), rgb(255 245 231));
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		background-image: linear-gradient(0deg, rgb(240 220 190), rgb(240 220 190)),
			linear-gradient(0deg, rgb(255 245 231), rgb(255 245 231));
	}

	&:first-child {
		padding-top: 0;
		svg {
			fill: rgb(243, 119, 119);
		}
		&::before {
			display: none;
		}
	}
	&:nth-child(2) {
		svg {
			fill: rgb(125, 184, 227);
		}
	}
	&:nth-child(3) {
		svg {
			fill: rgb(234, 163, 57);
		}
	}
	&:nth-child(4) {
		svg {
			fill: rgb(178, 145, 211);
		}
	}
	&:nth-child(5) {
		svg {
			fill: rgb(143, 189, 115);
		}
	}
	&:last-child {
		padding-bottom: 0;
		svg {
			fill: rgb(220, 128, 189);
		}
		&::after {
			display: none;
		}
	}
	li {
		width: 100%;
	}
	a {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 0 12px;
		color: rgb(96 96 96);
		font-size: 14px;
		font-weight: 700;
		border-radius: 12px;
		height: 44px;
		border: double 2px transparent;
		svg {
			height: 20px;
			width: 20px;
		}
		&:hover,
		&.active {
			box-shadow: 0 4px 10px 0 rgb(130 95 62 / 0.2) inset;
			background: linear-gradient(
					180deg,
					rgb(240 220 190) 0%,
					rgb(250 230 203) 100%
				),
				linear-gradient(180deg, rgb(240 220 190) 0%, rgb(255 247 235) 100%);
			background-origin: border-box;
			background-clip: padding-box, border-box;
		}
	}
}

.sidebar__footer {
	margin-top: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	position: sticky;
	bottom: 0;
	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border-radius: 16px;
		gap: 4px;
		padding: 13px 5px;
		height: 60px;
		color: rgb(96 96 96);
		font-weight: 700;
		font-size: 12px;
		line-height: 1.2;
		box-shadow: 0 1px 4px #5a11111a;
		border: double 2px transparent;
		background: linear-gradient(
				180deg,
				rgb(248 225 192) 0%,
				rgb(255 239 213) 100%
			),
			linear-gradient(180deg, rgb(255 239 213) 0% 30%, rgb(225 192 144));
		background-origin: border-box;
		background-clip: padding-box, border-box;
		img {
			border-radius: 4px;
		}
		svg,
		img {
			width: 16px;
			height: 16px;
			object-fit: cover;
			transition: 0.2s;
		}
	}
}

.wrap {
	padding: 10px 0 0 232px;
}

main {
	.container {
		max-width: 1875px;
	}
}

.banner {
	aspect-ratio: 1816/400;
	position: relative;
	background: rgb(248 225 192);
	display: flex;
	align-items: center;
	padding-left: 200px;
	@media (max-width: 1701px) {
		aspect-ratio: 1631/499;
	}
}

.banner__img {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.banner__content {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255 255 255);
	p {
		font-size: 48px;
		line-height: 1.2;
		font-weight: 800;
		font-style: italic;
		letter-spacing: 0.96px;
		font-family: "Barlow Condensed", sans-serif;
		text-shadow: 0 0 4px #1f828f, 0 3px 0 rgb(1 44 51);
		&:nth-child(1) {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			background-color: rgb(0 98 128);
			box-shadow: inset 0 0 0 2px rgb(255 255 255 / 0.2);
			border-radius: 16px;
			padding: 3px 12px;
			text-shadow: none;
			font-style: normal;
			font-family: "Futura PT", sans-serif;
		}
		&:nth-child(2) {
			margin-top: 8px;
		}
	}
	a {
		font-size: 36px;
		text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
		color: rgb(255 255 255);
		border-radius: 44px;
		border: 3px solid;
		line-height: 1;
		background: #fdb307;
		font-style: italic;
		font-family: "Barlow Condensed", sans-serif;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 260px;
		height: 90px;
		font-weight: 800;
		margin-top: 32px;
		span {
			&:nth-child(1) {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				img {
					width: 100%;
					height: 100%;
				}
			}
			&:nth-child(2) {
				position: absolute;
				z-index: 1;
			}
		}
	}
}

.top--menu {
	background: rgb(248 225 192);
	top: 74px;
	z-index: 9;
	position: sticky;
}

.top__menu {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		height: 80%;
		width: 60px;
		right: -2px;
		top: 8%;
		background-image: linear-gradient(
			270deg,
			rgb(248 225 192) 0%,
			rgb(255 255 255 / 0) 100%
		);
	}
}

.top__menu__row {
	overflow-x: auto;
	padding: 16px 0;

	&::-webkit-scrollbar {
		display: block;
		height: 11px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(239, 204, 152);
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	ul {
		display: flex;
		gap: 10px;
		min-width: max-content;
		justify-content: center;
		list-style: none;
		li {
			&:last-child {
				position: relative;
				z-index: 2;
			}
		}
		a {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			gap: 12px;
			color: rgb(96 96 96);
			font-weight: 700;
			line-height: 1.2;
			font-size: 14px;
			text-transform: uppercase;
			border-radius: 2px;
			transition-duration: 0.2s;
			padding: 0 12px;
			text-align: center;
			height: 88px;
			box-shadow: 0 6px 10px 0 rgb(206 188 167 / 0.2),
				-1px 1px 4px 0 rgb(90 17 17 / 0.15);
			background: linear-gradient(
				180deg,
				#f8e1c0 0%,
				#f8e1c0 40%,
				#e1c090 88%,
				#cdae81 100%
			);
			border-radius: 24px;
			border-image: url(/assets/images/web_border.webp) 24 / 24px stretch;
			min-width: 88px;
			svg {
				width: 28px;
				height: 28px;
				path {
					fill: rgb(128 128 128);
				}
			}
		}
	}
}

.cards--wrap {
	margin-top: 20px;
	background: rgb(254 238 212);
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cards__row {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.cards__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cards__line {
	width: calc(100% - 300px);
	height: 1px;
	background: rgb(248 225 192);
}

.cards__title {
	font-weight: 800;
	line-height: 1.2;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 24px;
	font-style: italic;
	text-transform: uppercase;
	color: rgb(96 96 96);
}

.cards__nav {
	display: flex;
	align-items: center;
	gap: 16px;
	p {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		padding: 6px 10px;
		border-radius: 12px;
		border: 2px solid transparent;
		color: rgb(141 122 103);
		background: linear-gradient(
			180deg,
			rgb(255 239 213) 0% 30%,
			rgb(225 192 144)
		);
		box-shadow: -1px 1px 2px #5a111126, -2px 3px 2px #dfaa6ba1;
	}
}

.cards__arrows {
	display: flex;
	gap: 4px;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-image: url(/assets/images/icon-button-wrapper-default.webp);
		background-position: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		&:hover {
			background-image: url(/assets/images/icon-button-wrapper-hover.webp);
		}
	}
	svg-icon-sprite {
		width: 24px;
		height: 24px;
		.icon {
			fill: rgb(255 255 255);
		}
	}
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 16px;
}

.cards__item__body {
	aspect-ratio: 217/325;
	position: relative;
	overflow: hidden;
	border-radius: 18px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	span {
		font-size: 67px;
		line-height: 1.4;
		font-weight: 800;
		position: absolute;
		font-style: italic;
		font-family: "Barlow Condensed", sans-serif;
		text-shadow: 0 1px 4px #235152;
		z-index: 3;
		color: rgb(255 255 255);
		left: 7px;
		bottom: 2px;
		line-height: 1;
	}
}

.cards__item__title {
	text-align: center;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;
	text-align: center;
	margin-top: 8px;
	color: rgb(96 96 96);
}

.block--wrap {
	margin-top: 20px;
}

.block {
	aspect-ratio: 1866/226;
	position: relative;
	border-radius: 44px;
	box-shadow: -1px 1px 4px #5a111126, -2px 3px 4px #cebca7a1;
	overflow: hidden;
	padding: 24px;
	display: flex;
	align-items: center;
	border-image: url(/assets/images/big_border@2x.webp) 92 / 46px stretch;
	&:before {
		content: "";
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
		border-image: url(/assets/images/big_border@2x.webp) 92 / 46px stretch;
		z-index: 1;
	}
}

.block__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.block__content {
	position: relative;
	z-index: 1;
	p {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 800;
		font-family: "Barlow Condensed", sans-serif;
		font-style: italic;
		text-transform: uppercase;
		color: rgb(255 255 255);
	}
	a {
		margin-top: 16px;
		text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
		color: rgb(255 255 255);
		border-radius: 24px;
		font-size: 22px;
		background-image: url(/assets/images/btn-primary-right.webp),
			url(/assets/images/btn-primary-center.webp),
			url(/assets/images/btn-primary-left.webp);
		background-position: right 0, center 0, left 0;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: contain, calc(100% - calc(0.6 * 48px) * 2 + 1px) 100%,
			contain, 0, 0, 0, 0, 0, 0;
		height: 48px;
		text-align: center;
		font-weight: 800;
		line-height: 1.2;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 220px;
		font-family: "Barlow Condensed", sans-serif;
		font-style: italic;
	}
}

.content {
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	h1,
	h2,
	h3 {
		font-weight: 600;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 27px;
		margin-bottom: 10px;
	}
	p,
	.content__table {
		margin-bottom: 20px;
	}
	ol,
	ul {
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	ul {
		margin-top: 15px;
	}
	h3,
	ol,
	p,
	.content__table {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.content__table {
	table {
		border-collapse: collapse;
	}
	th,
	td {
		padding: 12px;
		border: 1px solid rgb(96, 96, 96);
	}
}

footer {
	background: rgb(31 102 158);
	padding: 32px 0 42px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		right: 0;
		top: 0px;
		height: 10px;
		background: linear-gradient(
			180deg,
			rgb(73 199 238) 0%,
			rgb(73 199 238) 33%,
			rgb(252 154 0) 33%,
			rgb(252 154 0) 66%,
			rgb(255 79 79) 66%,
			rgb(255 79 79) 100%
		);
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 20px;
}

.footer__top {
	display: flex;
	justify-content: center;
	gap: 12px;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 160px;
		text-align: center;
		line-height: 1;
		color: rgb(151 231 255);
		text-transform: uppercase;
		border-radius: 4px;
		border: 2px solid rgb(255 255 255 / 0.2);
		background: rgb(31 102 158);
		box-shadow: 0 2px 4px rgb(9 8 12 / 0.2);
		gap: 8px;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		box-shadow: 0 1px 4px #0000001a, 0 2px 8px #00000040;
		border-radius: 16px;
		svg-icon-sprite {
			width: 24px;
			height: 24px;
			.icon {
				width: 24px;
				height: 24px;
				fill: rgb(151 231 255);
			}
		}
		img {
			width: 24px;
			height: 24px;
			object-fit: cover;
		}
	}
}

.footer__menu {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 40px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;
	color: rgb(151 231 255);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 16px;
		display: flex;
		flex-direction: column;
	}
}

.footer__menu__title {
	font-weight: 700;
	color: rgb(255 255 255);
}

.footer__menu__item {
	display: flex;
	flex-direction: column;
	gap: 16px;
	&:nth-child(2) {
		margin-top: 60px;
	}
}

.footer__pay {
	display: flex;
	justify-content: center;
	gap: 12px;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 36px;
		gap: 6px;
		border-radius: 8px;
		background-color: rgb(31 102 158);
		box-shadow: inset 0 0 0 2px #fff3, 0 1px 4px #0000001a, 0 2px 8px #00000040;
		&:last-child {
			background: none;
			box-shadow: none;
		}
		svg-icon-sprite {
			width: 12px;
			height: 12px;

			svg {
				width: 100%;
				height: 100%;
				fill: rgb(151 231 255);
			}
		}
		img {
			width: 66px;
		}
		span {
			font-size: 12px;
			color: rgb(151 231 255);
			font-weight: 700;
			line-height: 1.4;
		}
	}
}

.footer__media {
	display: flex;
	justify-content: center;

	img {
		width: 40px;
		aspect-ratio: 1/1;
	}
}

.footer__copyright {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	color: rgb(151 231 255);
	line-height: 1.4;
	font-size: 12px;
}

@media (max-width: 1600px) {
	.banner {
		padding-left: 100px;
	}
	.block {
		aspect-ratio: 1250/226;
	}
	.cards__list {
		grid-template-columns: repeat(7, 1fr);
	}
	.cards__item:last-child {
		display: none;
	}
}

@media (max-width: 1280px) {
	.header__icon {
		display: none;
	}
	.header__left {
		padding-left: 0;
	}
	.burger {
		display: block;
		svg-icon-sprite {
			svg {
				fill: rgb(159, 212, 231);
			}
			&:nth-child(2) {
				display: none;
			}
		}
		&.active {
			svg-icon-sprite {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
	}
	.sidebar {
		width: 420px;
		z-index: 999;
		left: -420px;
		transition-duration: 0.3s;
		&.active {
			left: 0;
		}
		.header__search {
			gap: 16px;
			border-radius: 16px;
			display: flex;
			width: 100%;
			box-shadow: 0 4px 10px 0 rgba(130, 95, 62, 0.2) inset;
			background: linear-gradient(
					180deg,
					rgb(240, 220, 190) 0%,
					rgb(250, 230, 203) 100%
				),
				linear-gradient(180deg, rgb(240, 220, 190) 0%, rgb(255, 247, 235) 100%);
			background-origin: border-box;
			background-clip: padding-box, border-box;
			color: rgb(96, 96, 96);
			svg-icon-sprite .icon {
				fill: rgb(96, 96, 96);
			}
		}
	}
	.header__search {
		display: none;
	}
	.sidebar__menu {
		margin-top: 20px;
	}
	.header__logo {
		width: 113px;
	}
	.wrap {
		padding: 10px 0 0 0;
		position: relative;

		&::after {
			content: "";
			z-index: 4;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(254, 238, 212, 0.9);
			pointer-events: none;
			opacity: 0;
			transition-duration: 0.3s;
		}
		&.active {
			&::after {
				opacity: 1;
			}
			.top--menu {
				z-index: 0;
			}
		}
	}
	.footer__menu {
		grid-template-columns: repeat(3, 1fr);
		gap: 40px 20px;
	}
	.footer__column:last-child {
		display: none;
	}
	.banner {
		aspect-ratio: 957 / 421;
	}
	.banner__content p:nth-child(1) {
		font-size: 16px;
	}
	.banner__content p:nth-child(2) {
		margin-top: 6px;
	}
	.banner__content p {
		font-size: 28px;
	}
	.banner__content a {
		font-size: 30px;
		width: 200px;
		aspect-ratio: 260/90;
		margin-top: 10px;
	}
	.banner {
		padding-left: 50px;
	}
	.top__menu__row ul a {
		flex-direction: row;
	}
	.top__menu__row ul a svg {
		width: 20px;
		height: 20px;
	}
	.top__menu__row ul a {
		height: 44px;
		gap: 8px;
	}
	.top--menu {
		top: 72px;
	}
	.cards__arrows {
		display: none;
	}
	.cards__line {
		width: calc(100% - 200px);
	}
	.cards__list {
		grid-template-columns: repeat(6, 1fr);
	}
	.cards__item:nth-child(n + 7) {
		display: none;
	}
	.cards {
		gap: 0;
	}
	.block {
		aspect-ratio: 714 / 186;
	}
	.content {
		padding: 30px 0px;
	}
}

@media (max-width: 767px) {
	.banner {
		aspect-ratio: 587 / 514;
		align-items: flex-end;
		padding-left: 0;
		justify-content: center;
	}
	.banner__content a {
		font-size: 36px;
		width: 300px;
	}

	.header__left {
		gap: 20px;
	}
	.header__btn {
		height: 34px;
		padding: 0 12px;
		font-size: 12px;
		background-image: none;
		background: #1474a5;
		border: 1px solid #19527f;
	}
	.container {
		width: calc(100% - 24px);
	}
	.cards__list {
		grid-template-columns: repeat(3, 1fr);
	}
	.cards__item__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
	}
	.cards {
		gap: 20px;
	}
	.block {
		aspect-ratio: 335/ 304;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}
	}
	.sidebar {
		width: 100%;

		left: 100%;
	}
	.sidebar .header__search {
		min-height: 48px;
	}
}

@media (max-width: 360px) {
	.header__logo {
		width: 90px;
	}
	.header__left {
		gap: 10px;
	}
	.banner__content a {
		font-size: 30px;
		width: 200px;
	}
}
