* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  border: 0;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Futura PT", sans-serif;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  background: rgb(254, 238, 212);
}
body.hidden {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

svg {
  width: 24px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg path {
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

header {
  background: linear-gradient(180deg, rgb(31, 102, 158), rgb(6, 158, 206));
  height: 63px;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .container {
  height: 100%;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -10px;
  height: 10px;
  background: linear-gradient(180deg, rgb(73, 199, 238) 0%, rgb(73, 199, 238) 33%, rgb(252, 154, 0) 33%, rgb(252, 154, 0) 66%, rgb(255, 79, 79) 66%, rgb(255, 79, 79) 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 10px;
}

.burger {
  display: none;
}

.header__logo {
  width: 167px;
  aspect-ratio: 167/44;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.header__icon {
  width: 24px;
  height: 24px;
}
.header__icon svg {
  fill: rgb(159, 212, 231);
}

.header__right {
  display: flex;
  gap: 8px;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  width: 300px;
  padding: 0 12px;
  border: double 2px transparent;
  background: linear-gradient(#1474a5, #1474a5), linear-gradient(360deg, #49c7ee 0%, #19527f 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 24px;
  color: rgb(151, 231, 255);
  transition: 0.3s ease;
  line-height: 1.4;
}
.header__search span {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 450;
  opacity: 0.6;
  transition: 0.3s ease;
}
.header__search svg-icon-sprite {
  width: 16px;
  height: 16px;
}
.header__search svg-icon-sprite .icon {
  fill: rgb(151, 231, 255);
}
.header__search:hover span {
  opacity: 1;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 24px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background-position: right 0, center 0, left 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, calc(100% - 57.6px + 1px) 100%, contain, 0, 0, 0, 0, 0, 0;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-style: italic;
  background-image: url("../images/btn-header-right.webp"), url("../images/btn-header-center.webp"), url("../images/btn-header-left.webp");
}

.sidebar {
  position: fixed;
  left: 0;
  top: 73px;
  height: calc(100vh - 73px);
  width: 232px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 9;
  background: linear-gradient(180deg, #f9eedf 0%, #fcecd2 100%);
  border-right: 2px solid rgb(242, 214, 173);
  color: rgb(96, 96, 96);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
}
.sidebar ul {
  list-style: none;
}
.sidebar .header__search {
  display: none;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  position: relative;
  align-items: center;
}
.sidebar__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background-image: linear-gradient(0deg, rgb(240, 220, 190), rgb(240, 220, 190)), linear-gradient(0deg, rgb(255, 245, 231), rgb(255, 245, 231));
}
.sidebar__list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: linear-gradient(0deg, rgb(240, 220, 190), rgb(240, 220, 190)), linear-gradient(0deg, rgb(255, 245, 231), rgb(255, 245, 231));
}
.sidebar__list:first-child {
  padding-top: 0;
}
.sidebar__list:first-child svg {
  fill: rgb(243, 119, 119);
}
.sidebar__list:first-child::before {
  display: none;
}
.sidebar__list:nth-child(2) svg {
  fill: rgb(125, 184, 227);
}
.sidebar__list:nth-child(3) svg {
  fill: rgb(234, 163, 57);
}
.sidebar__list:nth-child(4) svg {
  fill: rgb(178, 145, 211);
}
.sidebar__list:nth-child(5) svg {
  fill: rgb(143, 189, 115);
}
.sidebar__list:last-child {
  padding-bottom: 0;
}
.sidebar__list:last-child svg {
  fill: rgb(220, 128, 189);
}
.sidebar__list:last-child::after {
  display: none;
}
.sidebar__list li {
  width: 100%;
}
.sidebar__list a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  color: rgb(96, 96, 96);
  font-size: 14px;
  font-weight: 700;
  border-radius: 12px;
  height: 44px;
  border: double 2px transparent;
}
.sidebar__list a svg {
  height: 20px;
  width: 20px;
}
.sidebar__list a:hover, .sidebar__list a.active {
  box-shadow: 0 4px 10px 0 rgba(130, 95, 62, 0.2) inset;
  background: linear-gradient(180deg, rgb(240, 220, 190) 0%, rgb(250, 230, 203) 100%), linear-gradient(180deg, rgb(240, 220, 190) 0%, rgb(255, 247, 235) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.sidebar__footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  position: sticky;
  bottom: 0;
}
.sidebar__footer a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
  gap: 4px;
  padding: 13px 5px;
  height: 60px;
  color: rgb(96, 96, 96);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  box-shadow: 0 1px 4px rgba(90, 17, 17, 0.1019607843);
  border: double 2px transparent;
  background: linear-gradient(180deg, rgb(248, 225, 192) 0%, rgb(255, 239, 213) 100%), linear-gradient(180deg, rgb(255, 239, 213) 0% 30%, rgb(225, 192, 144));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.sidebar__footer a img {
  border-radius: 4px;
}
.sidebar__footer a svg,
.sidebar__footer a img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}

.wrap {
  padding: 10px 0 0 232px;
}

main .container {
  max-width: 1875px;
}

.banner {
  aspect-ratio: 1816/400;
  position: relative;
  background: rgb(248, 225, 192);
  display: flex;
  align-items: center;
  padding-left: 200px;
}
@media (max-width: 1701px) {
  .banner {
    aspect-ratio: 1631/499;
  }
}

.banner__img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.banner__content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.banner__content p {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.96px;
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 0 0 4px #1f828f, 0 3px 0 rgb(1, 44, 51);
}
.banner__content p:nth-child(1) {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  background-color: rgb(0, 98, 128);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 3px 12px;
  text-shadow: none;
  font-style: normal;
  font-family: "Futura PT", sans-serif;
}
.banner__content p:nth-child(2) {
  margin-top: 8px;
}
.banner__content a {
  font-size: 36px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 44px;
  border: 3px solid;
  line-height: 1;
  background: #fdb307;
  font-style: italic;
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 90px;
  font-weight: 800;
  margin-top: 32px;
}
.banner__content a span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner__content a span:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.banner__content a span:nth-child(2) {
  position: absolute;
  z-index: 1;
}

.top--menu {
  background: rgb(248, 225, 192);
  top: 74px;
  z-index: 9;
  position: sticky;
}

.top__menu {
  position: relative;
}
.top__menu::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 60px;
  right: -2px;
  top: 8%;
  background-image: linear-gradient(270deg, rgb(248, 225, 192) 0%, rgba(255, 255, 255, 0) 100%);
}

.top__menu__row {
  overflow-x: auto;
  padding: 16px 0;
}
.top__menu__row::-webkit-scrollbar {
  display: block;
  height: 11px;
}
.top__menu__row::-webkit-scrollbar-thumb {
  background: rgb(239, 204, 152);
}
.top__menu__row::-webkit-scrollbar-track {
  background: transparent;
}
.top__menu__row ul {
  display: flex;
  gap: 10px;
  min-width: -moz-max-content;
  min-width: max-content;
  justify-content: center;
  list-style: none;
}
.top__menu__row ul li:last-child {
  position: relative;
  z-index: 2;
}
.top__menu__row ul a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  color: rgb(96, 96, 96);
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  transition-duration: 0.2s;
  padding: 0 12px;
  text-align: center;
  height: 88px;
  box-shadow: 0 6px 10px 0 rgba(206, 188, 167, 0.2), -1px 1px 4px 0 rgba(90, 17, 17, 0.15);
  background: linear-gradient(180deg, #f8e1c0 0%, #f8e1c0 40%, #e1c090 88%, #cdae81 100%);
  border-radius: 24px;
  -o-border-image: url("../images/web_border.webp") 24/24px stretch;
     border-image: url("../images/web_border.webp") 24/24px stretch;
  min-width: 88px;
}
.top__menu__row ul a svg {
  width: 28px;
  height: 28px;
}
.top__menu__row ul a svg path {
  fill: rgb(128, 128, 128);
}

.cards--wrap {
  margin-top: 20px;
  background: rgb(254, 238, 212);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__line {
  width: calc(100% - 300px);
  height: 1px;
  background: rgb(248, 225, 192);
}

.cards__title {
  font-weight: 800;
  line-height: 1.2;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(96, 96, 96);
}

.cards__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cards__nav p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  color: rgb(141, 122, 103);
  background: linear-gradient(180deg, rgb(255, 239, 213) 0% 30%, rgb(225, 192, 144));
  box-shadow: -1px 1px 2px rgba(90, 17, 17, 0.1490196078), -2px 3px 2px rgba(223, 170, 107, 0.631372549);
}

.cards__arrows {
  display: flex;
  gap: 4px;
}
.cards__arrows span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url("../images/icon-button-wrapper-default.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cards__arrows span:hover {
  background-image: url("../images/icon-button-wrapper-hover.webp");
}
.cards__arrows svg-icon-sprite {
  width: 24px;
  height: 24px;
}
.cards__arrows svg-icon-sprite .icon {
  fill: rgb(255, 255, 255);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.cards__item__body {
  aspect-ratio: 217/325;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}
.cards__item__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__item__body span {
  font-size: 67px;
  line-height: 1.4;
  font-weight: 800;
  position: absolute;
  font-style: italic;
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 0 1px 4px #235152;
  z-index: 3;
  color: rgb(255, 255, 255);
  left: 7px;
  bottom: 2px;
  line-height: 1;
}

.cards__item__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  color: rgb(96, 96, 96);
}

.block--wrap {
  margin-top: 20px;
}

.block {
  aspect-ratio: 1866/226;
  position: relative;
  border-radius: 44px;
  box-shadow: -1px 1px 4px rgba(90, 17, 17, 0.1490196078), -2px 3px 4px rgba(206, 188, 167, 0.631372549);
  overflow: hidden;
  padding: 24px;
  display: flex;
  align-items: center;
  -o-border-image: url("../images/big_border@2x.webp") 92/46px stretch;
     border-image: url("../images/big_border@2x.webp") 92/46px stretch;
}
.block:before {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  -o-border-image: url("../images/big_border@2x.webp") 92/46px stretch;
     border-image: url("../images/big_border@2x.webp") 92/46px stretch;
  z-index: 1;
}

.block__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.block__content {
  position: relative;
  z-index: 1;
}
.block__content p {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 800;
  font-family: "Barlow Condensed", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.block__content a {
  margin-top: 16px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 24px;
  font-size: 22px;
  background-image: url("../images/btn-primary-right.webp"), url("../images/btn-primary-center.webp"), url("../images/btn-primary-left.webp");
  background-position: right 0, center 0, left 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, calc(100% - 57.6px + 1px) 100%, contain, 0, 0, 0, 0, 0, 0;
  height: 48px;
  text-align: center;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: italic;
}

.content {
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
.content__item h1,
.content__item h2,
.content__item h3 {
  font-weight: 600;
}
.content__item h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.content__item h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.content__item h3 {
  font-size: 27px;
  margin-bottom: 10px;
}
.content__item p,
.content__item .content__table {
  margin-bottom: 20px;
}
.content__item ol,
.content__item ul {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content__item ul {
  margin-top: 15px;
}
.content__item h3:last-child,
.content__item ol:last-child,
.content__item p:last-child,
.content__item .content__table:last-child {
  margin-bottom: 0;
}

.content__table table {
  border-collapse: collapse;
}
.content__table th,
.content__table td {
  padding: 12px;
  border: 1px solid rgb(96, 96, 96);
}

footer {
  background: rgb(31, 102, 158);
  padding: 32px 0 42px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  top: 0px;
  height: 10px;
  background: linear-gradient(180deg, rgb(73, 199, 238) 0%, rgb(73, 199, 238) 33%, rgb(252, 154, 0) 33%, rgb(252, 154, 0) 66%, rgb(255, 79, 79) 66%, rgb(255, 79, 79) 100%);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
}

.footer__top {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__top a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 160px;
  text-align: center;
  line-height: 1;
  color: rgb(151, 231, 255);
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgb(31, 102, 158);
  box-shadow: 0 2px 4px rgba(9, 8, 12, 0.2);
  gap: 8px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1019607843), 0 2px 8px rgba(0, 0, 0, 0.2509803922);
  border-radius: 16px;
}
.footer__top a svg-icon-sprite {
  width: 24px;
  height: 24px;
}
.footer__top a svg-icon-sprite .icon {
  width: 24px;
  height: 24px;
  fill: rgb(151, 231, 255);
}
.footer__top a img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  color: rgb(151, 231, 255);
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.footer__menu__title {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.footer__menu__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__menu__item:nth-child(2) {
  margin-top: 60px;
}

.footer__pay {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__pay a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 36px;
  gap: 6px;
  border-radius: 8px;
  background-color: rgb(31, 102, 158);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1019607843), 0 2px 8px rgba(0, 0, 0, 0.2509803922);
}
.footer__pay a:last-child {
  background: none;
  box-shadow: none;
}
.footer__pay a svg-icon-sprite {
  width: 12px;
  height: 12px;
}
.footer__pay a svg-icon-sprite svg {
  width: 100%;
  height: 100%;
  fill: rgb(151, 231, 255);
}
.footer__pay a img {
  width: 66px;
}
.footer__pay a span {
  font-size: 12px;
  color: rgb(151, 231, 255);
  font-weight: 700;
  line-height: 1.4;
}

.footer__media {
  display: flex;
  justify-content: center;
}
.footer__media img {
  width: 40px;
  aspect-ratio: 1/1;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: rgb(151, 231, 255);
  line-height: 1.4;
  font-size: 12px;
}

@media (max-width: 1600px) {
  .banner {
    padding-left: 100px;
  }
  .block {
    aspect-ratio: 1250/226;
  }
  .cards__list {
    grid-template-columns: repeat(7, 1fr);
  }
  .cards__item:last-child {
    display: none;
  }
}
@media (max-width: 1280px) {
  .header__icon {
    display: none;
  }
  .header__left {
    padding-left: 0;
  }
  .burger {
    display: block;
  }
  .burger svg-icon-sprite svg {
    fill: rgb(159, 212, 231);
  }
  .burger svg-icon-sprite:nth-child(2) {
    display: none;
  }
  .burger.active svg-icon-sprite:nth-child(1) {
    display: none;
  }
  .burger.active svg-icon-sprite:nth-child(2) {
    display: block;
  }
  .sidebar {
    width: 420px;
    z-index: 999;
    left: -420px;
    transition-duration: 0.3s;
  }
  .sidebar.active {
    left: 0;
  }
  .sidebar .header__search {
    gap: 16px;
    border-radius: 16px;
    display: flex;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(130, 95, 62, 0.2) inset;
    background: linear-gradient(180deg, rgb(240, 220, 190) 0%, rgb(250, 230, 203) 100%), linear-gradient(180deg, rgb(240, 220, 190) 0%, rgb(255, 247, 235) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: rgb(96, 96, 96);
  }
  .sidebar .header__search svg-icon-sprite .icon {
    fill: rgb(96, 96, 96);
  }
  .header__search {
    display: none;
  }
  .sidebar__menu {
    margin-top: 20px;
  }
  .header__logo {
    width: 113px;
  }
  .wrap {
    padding: 10px 0 0 0;
    position: relative;
  }
  .wrap::after {
    content: "";
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 238, 212, 0.9);
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.3s;
  }
  .wrap.active::after {
    opacity: 1;
  }
  .wrap.active .top--menu {
    z-index: 0;
  }
  .footer__menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
  .footer__column:last-child {
    display: none;
  }
  .banner {
    aspect-ratio: 957/421;
  }
  .banner__content p:nth-child(1) {
    font-size: 16px;
  }
  .banner__content p:nth-child(2) {
    margin-top: 6px;
  }
  .banner__content p {
    font-size: 28px;
  }
  .banner__content a {
    font-size: 30px;
    width: 200px;
    aspect-ratio: 260/90;
    margin-top: 10px;
  }
  .banner {
    padding-left: 50px;
  }
  .top__menu__row ul a {
    flex-direction: row;
  }
  .top__menu__row ul a svg {
    width: 20px;
    height: 20px;
  }
  .top__menu__row ul a {
    height: 44px;
    gap: 8px;
  }
  .top--menu {
    top: 72px;
  }
  .cards__arrows {
    display: none;
  }
  .cards__line {
    width: calc(100% - 200px);
  }
  .cards__list {
    grid-template-columns: repeat(6, 1fr);
  }
  .cards__item:nth-child(n+7) {
    display: none;
  }
  .cards {
    gap: 0;
  }
  .block {
    aspect-ratio: 714/186;
  }
  .content {
    padding: 30px 0px;
  }
}
@media (max-width: 767px) {
  .banner {
    aspect-ratio: 587/514;
    align-items: flex-end;
    padding-left: 0;
    justify-content: center;
  }
  .banner__content a {
    font-size: 36px;
    width: 300px;
  }
  .header__left {
    gap: 20px;
  }
  .header__btn {
    height: 34px;
    padding: 0 12px;
    font-size: 12px;
    background-image: none;
    background: #1474a5;
    border: 1px solid #19527f;
  }
  .container {
    width: calc(100% - 24px);
  }
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__item__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  .cards {
    gap: 20px;
  }
  .block {
    aspect-ratio: 335/304;
    position: relative;
  }
  .block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .sidebar {
    width: 100%;
    left: 100%;
  }
  .sidebar .header__search {
    min-height: 48px;
  }
}
@media (max-width: 360px) {
  .header__logo {
    width: 90px;
  }
  .header__left {
    gap: 10px;
  }
  .banner__content a {
    font-size: 30px;
    width: 200px;
  }
}/*# sourceMappingURL=styles.css.map */